---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};
const { headings } = Astro.props;
---

<script is:inline>
  function scrollToSection(sectionId) {
    let yOffset = -100;

    let element = document.getElementById(sectionId);

    if (element) {
      let y =
        element.getBoundingClientRect().top + window.pageYOffset + yOffset;
      window.scrollTo({ top: y, behavior: "smooth" });
      event.preventDefault();
    }
  }
</script>
<div class="flex py-6 w-full h-full">
  <div class="sticky top-0 pt-28 h-fit w-full">
    <div
      class="flex flex-col px-4 gap-2 w-full border-solid border-l-2 text-sm"
    >
      {
        headings.map(({ depth, slug, text }) => {
          let marginLeft;
          let fontWeight;
          switch (depth) {
            case 1:
              marginLeft = "ml-0";
              fontWeight = "font-bold";
              break;
            case 2:
              marginLeft = "ml-4";
              fontWeight = "font-semibold";
              break;
            case 3:
              marginLeft = "ml-8";
              fontWeight = "font-medium";
              break;
            case 4:
              marginLeft = "ml-12";
              fontWeight = "font-normal";
              break;
            default:
              marginLeft = `ml-${(depth - 1) * 2}`;
              fontWeight = "font-light";
              }
              return (
            <div class={`${marginLeft} ${depth > 1 ? "pl-2" : ""}`}>
              <a
                href={`#${slug}`}
                onclick={`scrollToSection("${decodeURI(encodeURI(slug))}")`}
                class={`text-gray-600 hover:underline dark:text-gray-200 ${fontWeight}`}
              >
                {text}
              </a>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
